@import './config';
@import './utilities';

* {
  box-sizing: s;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1rem;
  line-height: 1.6;
  background-color: white;
  color: black;
  margin: 0;
  overflow: auto;
}

a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}
// Navbar

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px $primary-color;
  opacity: 0.9;
  ul {
    display: flex;
  }
  a {
    color: white;
    padding: 0 2rem;
    margin: 1rem 3rem;
    display: inline-block;
    transition: color 0.5s, transform 0.5s;
    &:hover {
      color: $primary-color;
      transform: scale(2);
    }
  }
}

//Landing
.landing {
  background: url('../img/backimage.jpg') no-repeat center center;
  background-size: 100% 100%;
  height: 100vh;
  &-inner {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
