@import './config';
@import './utilities';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1rem;
  line-height: 1.6;
  background-color: white;
  color: black;
  overflow: auto;
}

a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
}

img {
  width: 80%;
}
// Navbar

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px $primary-color;
  opacity: 0.9;
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  a {
    color: white;
    padding: 0 2rem;
    margin: 1rem 3rem;
    display: inline-block;
    transition: color 0.5s, transform 0.5s;
    &:hover {
      color: $primary-color;
      transform: scale(2);
    }
  }
}

//Landing
.landing {
  background: url('../img/backimage.jpg') no-repeat center center / cover;
  // background-size: 100% 100%;

  height: 100vh;
  &-inner {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    // width: 80%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
// Profiles
.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-gap: 2rem;
  align-items: center;
  padding: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  //for single profile
  &-top {
    box-sizing: border-box;
    margin: 2rem 5rem 0 5rem;
    grid-area: top;
    border: solid $primary-color 1px;
  }
  &-about {
    text-align: center;
    box-sizing: border-box;
    margin: 0 5rem 0 5rem;
    padding: 6rem;
    grid-area: about;
    border: solid $primary-color 1px;
  }
  &-exp {
    background-color: rgba(29, 153, 132, 0.7);
    box-sizing: border-box;
    margin: 0 0 0 5rem;
    padding: 6rem;
    grid-area: exp;
    border: solid $primary-color 1px;
  }
  &-edu {
    box-sizing: border-box;
    margin: 0 5rem 0 0;
    padding: 6rem;
    grid-area: edu;
    border: solid $primary-color 1px;
  }
  &-github {
    box-sizing: border-box;
    margin: 0 5rem 0 5rem;
    padding: 6rem;
    grid-area: github;
    border: solid $primary-color 1px;
    .repo {
      display: flex;
      margin: 5rem;
      align-items: center;
      justify-content: center;
      & > div:first-child {
        flex: 9;
      }
      & > div:last-child {
        flex: 1;
      }
    }
  }
}

.skill-set {
  margin-bottom: 1rem;
}
.profile-grid {
  display: grid;
  grid-template-areas: 'top top' 'about about' 'exp edu' 'github github';
}

.badge {
  margin-left: 5rem;
}
